Importing libraries, loading Dataset, and defining constants.

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_excel("./Real estate valuation data set.xlsx")
del data['No']
data.head()

ROUND_PLACE = 6

1. Standardizing the range of continous variables.

In [8]:
data.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148953,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281995,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.666667,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.916667,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.166667,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.416667,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583333,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [82]:
cleaned_data = data.copy()
column_names = data.columns.array
means = data.mean().array
stds = data.std().array

for x in range(len(data.columns)):
  cleaned_data[column_names[x]] = np.divide(np.subtract(data[column_names[x]], means[x]), stds[x])

cleaned_data.describe()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,4.140000e+02,4.140000e+02,4.140000e+02,4.140000e+02,4.140000e+02,4.140000e+02,4.140000e+02
mean,-5.024601e-13,-1.051226e-16,-1.222854e-16,1.072679e-18,1.341621e-13,-1.612610e-12,9.225042e-17
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.710265e+00,-1.554758e+00,-8.402621e-01,-1.389957e+00,-2.978202e+00,-3.898506e+00,-2.232773e+00
25%,-8.237250e-01,-7.625694e-01,-6.295498e-01,-1.050463e+00,-4.858966e-01,-3.437821e-01,-7.555361e-01
50%,6.281451e-02,-1.415460e-01,-4.687821e-01,-3.198130e-02,1.667925e-01,3.433147e-01,3.452814e-02
75%,9.493540e-01,9.161689e-01,2.934716e-01,6.470063e-01,6.788714e-01,6.479308e-01,6.335071e-01
max,1.540380e+00,2.289882e+00,4.281827e+00,2.004982e+00,3.671169e+00,2.144297e+00,5.844257e+00

2. Computing the covariance matrix to identify correlations.

3. Computing the eigenvectors and eigenvalues of the covariance matrix to identify the principal components.

4. Creating a feature vector to decide which principal components to keep.

5. Recasting the data along the principal components axes.